
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    默认首页：
    <a href="~/Plat/Form/FormView?FormCode=Form0001&SceneCode=Scene0001&ViewCode=View201706280837070001&InitGroupCode=Group0001&RightGroupCode=&PKValues=1&DeviceType=1&SysId=1" target="_blank">表单测试页</a>
    <br />
    <a href="~/Plat/Grid/GridView?GridCode=Grid0001&SysId=1" target="_blank">列表测试页</a>
    <br />
    <a href="~/Plat/Tab/TabView?TabCode=Tab0001" target="_blank">页签测试页</a>
    <br />
    <a href="~/Plat/Common/PlatAdmin" target="_blank">后台管理框架</a>

    <br />
    <a href="~/Plat/Portal/SysFrame" target="_blank">后台管理框架2</a>

    <br />
    <a href="~/Plat/Portal/Login" target="_blank">登录</a>
</body>
</html>
  