@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>流程驳回界面</title>
    <meta charset="utf-8" />
    <base target="_self" />
    @Html.Raw(ViewBag.CPWebRootPath)
    @Html.Raw(ViewBag.CPCurUserId)
    @Html.Raw(ViewBag.CPCurUserIden)
    <!-- 下面两句代码是做手机适配用的 ， 加上之后手机网页就会自动适配-->
    <!--解决安卓手机点击文本框，会自动放大网页的问题-->
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="../../Plat/Common/JS/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../Plat/Common/JS/Common.js"></script>
    <!--阿里图标-->
    <link rel="stylesheet" href="../../Style/AibabaIcon/iconfont.css">

    <!--layer ui-->
    <script src="../../Plat/Common/layui/lay/modules/layer.js"></script>
    <link rel="stylesheet" href="../../Plat/Common/layui/css/layui.css" media="all">
    <script src="../../Plat/Common/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../Plat/Flow/FlowFallback.js"></script>
    <link href="../../Style/@ViewBag.CPSkin/Common.css" type="text/css" rel="stylesheet" />
    <link href="../../Style/@ViewBag.CPSkin/Flow/FlowEngine.css" type="text/css" rel="stylesheet" />

</head>
<body style="overflow:hidden;">
    <div class="layui-container" id="divPhaseContainer" style="overflow:auto;">
    </div>
    <div style="clear:both;"></div>
    <div id="divButtonContainer" style="text-align:center;background-color:#e2e2e2; height:42px; padding-top:5px;"><button class="layui-btn layui-btn-normal" id="btnFallbackFlow"><i class="icon iconfont icon-xuanze" style="font-size:20px; vertical-align:middle;"></i>确定</button></div>
</body>
</html>
