
a {
    text-decoration: none;
    font-family: 'Microsoft YaHei';
    color: #009fff;
}
input, select, option, textarea, div {
    outline: none;
}
body {
   overflow:hidden;
}
#CPGirdContainer {
    margin: 5px;
}
#CPGridSearch {
    border: 0px solid red;
    float: left;
}
.SearchTextBoxCss {
    padding-left: 10px;
    border: 1px solid #e3e3e3;
    height: 32px;
    width:350px;
}
.SearchBtnCss {
    border-radius: 0px;
    width: 90px;
}
.k-button:hover {
    border: 1px solid #ea2328;
    color: white;
    background-color: #ea2328;   
}
.k-button:hover > img {
    /* Chrome, Safari, Opera */
    -webkit-filter: brightness(500%);
    filter: brightness(500%);
}
#CPGridButton {
    float: left;
    border: 0px solid blue;
    text-align: right;
}
.CPGridFuncBtn_Css {
    border-radius: 0px; 
    margin-left:10px;
    min-width:80px;
    font-family:'Microsoft YaHei';
}
    .CPGridFuncBtn_Css > i {
        color: #ff4747;
        font-size: 26px;
        vertical-align:middle;
    }
.CPGridFuncBtn_Css:hover > i {
    /* Chrome, Safari, Opera */
    -webkit-filter: brightness(500%);
    filter: brightness(500%);
}
    .CPGridFuncBtn_Css > span {
        vertical-align: middle;
    }
#CPGirdDiv {
    margin-top: 5px;
    border-radius: 0px;
}
.k-pager-nav.k-pager-first {
    border-radius: 0px;
}
.k-pager-wrap .k-pager-nav.k-pager-last {
    border-radius: 0px;
}
.k-dropdown-wrap {
    border-radius: 0px;
}
.CPGridEditTextBoxCss {
    width: 95%;
    height: 26px;
    font-size: 14px;
    border: 1px solid #bfbfca !important;
    outline: none;
    font-family: "microsoft yahei";
    padding-left:1px;
}
.CPGridEditListCss {
    width: 95%;
    height: 26px;
}
/*.CPGridChkCss {
    cursor: pointer;
}*/
.CPGridChkCss {
    display: none;
}

    .CPGridChkCss + label {
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        vertical-align:middle;
        cursor:pointer;
    }

        .CPGridChkCss + label:active, .CPGridChkCss:checked + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }

    .CPGridChkCss:checked + label {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

        .CPGridChkCss:checked + label:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #99a1a7;
        }

.CPGridChkCssAll {
    display: none;
}

    .CPGridChkCssAll + label {
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
    }

        .CPGridChkCssAll + label:active, .CPGridChkCssAll:checked + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }

    .CPGridChkCssAll:checked + label {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

        .CPGridChkCssAll:checked + label:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #99a1a7;
        }




.CPGridRadioCss {
    display: none;
}

    .CPGridRadioCss + label {
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 50px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    .CPGridRadioCss:checked + label:after {
        content: ' ';
        width: 12px;
        height: 12px;
        border-radius: 50px;
        position: absolute;
        top: 3px;
        background: #99a1a7;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        text-shadow: 0px;
        left: 3px;
        font-size: 32px;
    }

    .CPGridRadioCss:checked + label {
        background-color: #e9ecee;
        color: #99a1a7;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
    }

        .CPGridRadioCss + label:active, .CPGridRadioCss:checked + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }


/*.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical,
.k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color,
.k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    /*color: #000;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}*/
 .k-state-selected > td > a {
    color: #fff;
}