*{
    margin: 0;
    padding: 0;
    font-family:"Microsoft YaHei UI";
} 
body{
    background-color: #f7f7f7;
    overflow:hidden;
}
.FormMaxContainerCss
{
    width:1024px;
    margin:auto;
    background-color:white;
    border-top:1px solid #e7e7e7;
    border-bottom:1px solid #e7e7e7;
    border-right:1px solid #e7e7e7;
    margin-top:20px;
    overflow:hidden;
} 
 .FormMainContainerCss
 {
    overflow:auto;
 }
 /*按钮区域样式*/
 .FormButtonContainer
 { 
     text-align:center;
     height:35px;
     padding-top:15px;
     background-color:white;
     border-left:1px solid #e7e7e7;
 }
  table{
     border:0px;
 }

  /*不允许为空样式*/
  .NotAllowNullCss{
      color:red;
      font-weight:600;
  }
 /*表格第一行说明性文字样式*/
 .trHeader{
    border-bottom: 1px solid #e7e7e7;border-left:1px solid #e7e7e7;
    height: 40px;
    text-align: center;
    background-color: #eeeff1;
 }
 /*左表格样式*/
 .tdLeft{
    border: 1px solid #e7e7e7;
    border-top:0px;
    border-right:0px;
    background-color: #fff;
    color: #060606;
    font-size: 14px;
    padding: 8px;
    font-weight: normal;
        border-collapse: collapse;
 }
 /*右表格样式*/
 .tdRight{
      border: 1px solid #e7e7e7;
       border-top:0px;
         border-right:0px;
    background-color: #fff;
    font-family: "microsoft yahei";
    color: #3c3c3c;
    font-size: 14px;
    padding: 8px;
    font-weight: normal;
        border-collapse: collapse;
 }
 /*拓展表表头左DIV样式*/
 .ChildTableHeaderLeft
 {
     float:left;
     width:100%;
     text-align:center;
         height: 100%;
    padding-top: 10px;
 }
  /*拓展表表头右DIV样式*/
 .ChildTableHeaderRight
 {
     float: right;
    /* width: 50PX; */
    text-align: right;
    /* height: 100%; */
    /* padding-top: 6px; */
    margin-right: 20px;
    margin-top: -34px;
 }
 /*拓展表表头右最后一行作为分隔符*/
 .trExtendTableLastRow
 {
        border-bottom: 1px solid #e7e7e7;
        border-left:1px solid #e7e7e7;
    height: 10px;
    text-align: center;
    background-color: #eeeff1;
 }
 .CPFormExtendTableTdCss
 {

 }
 /*拓展表添加按钮样式*/
 .btnExtendTableAdd
 {
      height:28px;
      font-size: 14px;
       color: #808080;
       padding-left:6px;
       padding-right:6px;
 }
 /*文本框样式*/
 .textboxCss{
      height:28px;
      font-size: 14px;
       color: #808080;
    border: 1px solid  #fff !important;   
    outline: none;
    font-family: "microsoft yahei";
 }
 /*下拉框样式*/
 .selectCss{
      height:28px;
      font-size: 14px;
       color: #808080;
     background-color: #ffffff;
    border: 1px solid #fff !important;
    color: #808080;
    outline: none;
 }
 /*单选按钮父DIV样式start*/
 .radioDivParentCss
 {
     cursor:pointer;
     float:left;
 }
 .radioCss
 {
     cursor:pointer;
 }
 .radioLabelCss
 {
     cursor:pointer;padding-left:2px;
 }
 /*单选按钮父DIV样式end*/

  /*复选按钮父DIV样式start*/
 .checkboxDivParentCss
 {
     cursor:pointer;
     float:left;
 }
 .checkboxCss
 {
     cursor:pointer;
 }
 .checkboxLabelCss
 {
     cursor:pointer;padding-left:2px;
 }
 /*复选按钮父DIV样式end*/


 /*combox样式start*/
  
.comboxwrapper{
    position: relative;
    width:100%;
    display: inline-block;
}
.comboxinput-wrapper{
    width:100%;
}
.comboxinput-wrapper input{
    /*padding-right: 30px;*/
    cursor: pointer;
    display: block;
    /*padding-left: 10px;*/
    height: 28px;
    line-height: 28px;
    line-height: 26px\9;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}
.comboxinput-wrapper img{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    border-width: 0px;
    border-top-color: #c2c2c2;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.comboxcontent{
    transition: all 0.3s ;
    position: absolute;
    left: 0;
    top: 84px;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
    opacity:0;
}
.comboxcontent li{
     list-style-type: none;
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:pointer;
}
.comboxcontent li:hover{
     list-style-type: none;
     cursor:pointer;
    background-color: #e2e2e2;
}
.comboxcontent li.active{
     list-style-type: none;
    background-color: #5FB878;
    cursor:pointer;
    color: #fff;
}
.comboxcontent::-webkit-scrollbar{
    width: 16px;
    height: 16px;
}
/*定义滚动条的轨道，内阴影及圆角*/
.comboxcontent::-webkit-scrollbar-track{
    border-radius: 4px;
}
/*定义滑块，内阴影及圆角*/
.comboxcontent::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(138,138,138,.3);
    background-color: rgba(134,134,136,0.8);
}
.comboxcontent{
    scrollbar-face-color:#868688; /*面子*/
    scrollbar-arrow-color:#C0C0C0; /*箭头*/
    scrollbar-3dlight-color:#C0C0C0; /*最外左*/
    scrollbar-highlight-color:#FFFFFF; /*左二*/
    scrollbar-shadow-color:#FFFFFF; /*右二*/
    scrollbar-darkshadow-color:#C0C0C0; /*右一*/
    scrollbar-track-color:white; /*滑道*/

}
 /*combox样式start*/
 /*附件样式start*/
 .AttachFileAFileName
 {
     cursor:pointer;
     
 }
 .AttachFileADel
 {
         margin-left: 6px;
 }
 
.AttachFileADel img {
    width: 14px;
    height: 14px;
}
 /*附件样式end*/