 
.FlowContainer {
    background-image: url(img/bg.png);
}
.ToolRowCss {
    height: 60px;
    padding-top: 16px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}
    .ToolRowCss:hover {
        background: #e6e6e6;
    }
.ToolRowCss2 {
    height: 60px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

    .ToolRowCss2:hover {
        background: #e6e6e6;
    }
.ToolRowCssSelected {
    background: #e6e6e6;
}