body{
    overflow:hidden;
}
#CPFlowContainer {
    width: 100%;
    margin-top: 6px;
}
#CPFlowHeaderContainer {
    border-bottom: 1px solid #e2e2e2;
    height: 40px;
}
#CPFlowTitleContainer 
{
padding-left:10px;
padding-top:8px;
}
#CPFlowButtonContainer {
    text-align: right;
    padding-right: 20px;
}
.CPFlowChkCss {
    display: none;
}

    .CPFlowChkCss + label {
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
    }

        .CPFlowChkCss + label:active, .CPFlowChkCss:checked + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }

    .CPFlowChkCss:checked + label {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

        .CPFlowChkCss:checked + label:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #99a1a7;
        }



.FlowButtonCss {
    border-radius: 0px;
    box-shadow: none;
    color: #333;
    border-color: #ccc;
    background-color: #fff;
    background-image: none;
    background-position: 50% 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 2px 7px 2px;
    line-height: 1.72em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    -webkit-appearance: none;
    font-size:16px;
    font-family:'Microsoft YaHei';
}
    .FlowButtonCss > i {
        color: #ff4747;
        font-size: 26px;
        vertical-align: middle;
    }
    .FlowButtonCss:hover {
        border: 1px solid #ea2328;
        color: white;
        background-color: #ea2328;
    }

        .FlowButtonCss:hover > img {
            /* Chrome, Safari, Opera */
            -webkit-filter: brightness(500%);
            filter: brightness(500%);
        }





.CPFlowRadioCss {
    display: none;
}

    .CPFlowRadioCss + label {
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 50px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }

    .CPFlowRadioCss:checked + label:after {
        content: ' ';
        width: 12px;
        height: 12px;
        border-radius: 50px;
        position: absolute;
        top: 3px;
        background: #99a1a7;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        text-shadow: 0px;
        left: 3px;
        font-size: 32px;
    }

    .CPFlowRadioCss:checked + label {
        background-color: #e9ecee;
        color: #99a1a7;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
    }

        .CPFlowRadioCss + label:active, .CPFlowRadioCss:checked + label:active {
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        }